# Python
__pycache__/
*.pyc
apps/engine-py/.venv/
apps/engine-py/.env
.poetry-cache/

# Node
node_modules/

# Go
bin/
dist/

# OS / editor
.DS_Store
.vscode/
.idea/

# Docker/devcontainers
.devcontainer/.cache/

